root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.severity = warning
dotnet_naming_rule.types_should_be_pascal_case.severity = warning

[*.{json,yml,yaml,md}]
indent_size = 2
