<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Crown &amp; Conquest"
           Manufacturer="CrownConquest Team"
           Version="1.2.0"
           UpgradeCode="78620001-C001-4C10-9110-C00000000001"
           Scope="perMachine"
           Language="1033">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Crown &amp; Conquest is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="CrownConquest" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Component Id="ApplicationShortcut" Guid="78620001-C001-4C10-9110-C00000000002">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Crown &amp; Conquest"
                  Description="Celtic Kings + Age of Empires RTS with RPG Hero progression"
                  Target="[INSTALLFOLDER]CrownConquest.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\CrownConquest Team\Crown &amp; Conquest" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Crown &amp; Conquest Complete Graphical Game" Level="1">
      <Files Directory="INSTALLFOLDER" Include="..\publish\win-x64\**" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Package>
</Wix>
